@import "base";


$light-bg1: lighten($QLAQ_blue, 30%);
$mid-bg1: lighten($QLAQ_blue, 20%);
$mid-bg1-highlight: #aaa;
$bar1-topbg: lighten($QLAQ_blue, 30%);
$bar1-midbg: lighten($QLAQ_blue, 20%);
$bar1-bottombg: #aaa;
$lighter-text: #777;
$visited-text: #333;
$default-text: darken($QLAQ_blue, 45%);
$darkbg: #333;
$darkbg-highlight: #222;