%head
  =stylesheet_link_tag 'application'
  =javascript_include_tag 'application'

%body#launch
  #launch_pannel{ style: 'display: none' }
    %h1 Quacks like a Queer

    %p This is an LGBT+ forum which aims to be democratically run, and even the name, QLAQ, was chosen by the members.

    %p QLAQ is an acronym for "Quacks like a Queer" which is a play on words with the common phrase "If it looks like a duck, swims like a duck, and quacks like a duck, then it probably is a duck." The Quack element of the name portrays communications (which is what a forum is all about).

    %p We look forward to building this amazing community, a site to include all under the queer umbrella. Whatever your waddle of life, come in from the rain; you are welcome here. Peace out Qlaqers.

    %h2 You will be redirected to the main site shortly


  %img#center_curtain{ src: '/assets/curtains.png' }

  #left_curtain
    %img{ src: '/assets/curtain_left.png', height: '100%' }

  #right_curtain
    %img{ src: '/assets/curtain_right.png', height: '100%' }

  #info_pannel
    %h1 QLAQ

    #clock
      %p
        %span#hours Hours
      .space :
      %p
        %span#minutes Minutes
      .space :
      %p
        %span#seconds Seconds