%head
  =stylesheet_link_tag 'application'
%body#launch
  #left_curtain
    %img{ src: '/assets/curtains.png', height: '100%' }

  #right_curtain
    %img{ src: '/assets/curtains.png', height: '100%' }

  #info_pannel
    %h1 QLAQ
    %h2 Coming soon!
    %h3
      %a{ href: 'https://twitter.com/qlaq_uk' } @qlaq_uk