@import 'bourbon';
@import 'base';

body#launch {
  //background: $QLAQ_blue;
  position: relative;
  padding: 0;
  margin: 0;
  min-width: 1000px;
  height: 100%;

  h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: #fff;
    font-family: 'Lilita One', cursive;
  }

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 30px;
  }

  #info_pannel {
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    top: 100px;
    background: url('/assets/sign.png') center top;
    color: #fff;

    a {
      color: #fff;
    }

    #clock {
      text-align: center;
      font-size: 64px;
      font-weight: bold;
      background: #000;
      @include border-radius(5px);

      p {
        @include inline-block;
        margin: 0.5em 0;
      }

      div {
        @include inline-block;
      }
    }
  }

  #launch_pannel {
    color: darken($QLAQ_blue, 50%);
    padding-top: 50px;
    width: 800px;
    margin: 0 auto;
    text-align: center;

    h1,h2,h3,h4,h5,h6 {
      color: darken($QLAQ_blue, 35%);
    }
  }

  #center_curtain {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -0px;
    left: 0;
    @include box-shadow(0 0 30px rgba(0,0,0,0.6));
  }

  #left_curtain, #right_curtain {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;

    img {
      position: absolute;
      display: block;
      top: 0;
      height: 100%;
    }
  }

  #left_curtain {
    left: 0;

    img {
      left: 0;
    }
  }

  #right_curtain {
    right: 0;

    img {
      right: 0;
    }
  }
}